<div class="component">
  <h1>Phone Book</h1>
  <phone-book-list></phone-book-list>
  <!--
    <div class="table">
    <div class="row">
      <div class="cell heading name"><h2>Name</h2></div>
      <div class="cell heading number"><h2>Number</h2></div>
      <div class="cell heading isMobile"v><h2>Type</h2></div>
    </div>
    <div class="row">
      <div class="cell content name"><p>Karolina</p></div>
      <div class="cell content number"><p>0735621621</p></div>
      <div class="cell content isMobile"><p>true</p></div>
    </div>
  </div>
  -->
</div>
